@import "bourbon";

$color: #f42;
@include keyframes(flower) {
  0%, 10% {   transform: rotate(120deg) }
  45%, 55% {  transform: rotate(90deg) }
  90%, 100% { transform: rotate(60deg) }
}
title {
  display: block;
  font-family: 'Avenir Next', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 10vh;
  margin: 20vh 0;
  text-shadow: #000 0 0 3px;
}
.bodypre {
  position:absolute;
  padding:0;
  margin:0;
  top:0;
  left:0;
  background: $color;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
}
i#test {
  display: inline-block;
  width: 0; height: 0;
  padding: 40px 20px;
  background: rgba(255,255,255,.2);
  transform: rotate(120deg);
  border-top-left-radius: 99px;
  border-bottom-right-radius: 99px;
  box-shadow: $color 0 0 30px;
  @include animation(flower 3s ease-in-out infinite alternate);
}
i#test ~ ii#test:nth-child(odd),
ii#test ~ ii#test:nth-child(odd) i {
  transform: rotate(90deg);
  animation-delay: -1.5s;
}
ii#test ~ ii#test:nth-child(even),
ii#test ~ ii#test:nth-child(even) i#test {
  transform: rotate(60deg);
  margin-right: 0;
  animation-delay: -3s;
}
.bodypre > ii#test {
  margin: 0 80px;
}
ii#test:before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  border-style: solid;
  border-width: 20px 20px;
  border-color: $color $color transparent transparent;
}
.innerpre{
  margin: auto; 
}